{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
         integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/site.css' %}" />
    <style>
    </style>
</head>
<body>
<!--Image de bandeau-->
    <div class="container-fluid" style="height:160px; position:center">
        <div class="row" style="position:fixed">
            <!--Titre-->
            <h1>MERCADONA</h1>
            <div class="row"  style="height:100px; position:center">
                <!--Slogan-->
                <h6> Catalogue</h6>
                <h3>Le site des bonnes affaires</h3><br>
                <!--liste déroulante-->
                <div class="row-fluid" style="height:20px">
                    <div class="btn-group" style="position:center">
                        <button type="button" class="btn btn-secondary " aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Action</span>
                        </button>
                        <label for="categories-select"></label><select name="categories" id="categories-select"
                                                                       onchange="filtrerProduits()">
                            <option class="liste-choices" value="">--Choisir une catégorie--</option>
                            {% for category in categories %}
                                <option class="liste-choices" value="{{ category }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        {% block content %}
            <!--Tableau-->
            <div class="row scroll" >
                <div class="tableau col-lg-8" >
                    <table class="table table_dark">
                        <thead  class="table table_dark">
                            <tr>
                                <th>CATEGORIES</th>
                                <th>PRODUITS</th>
                                <th>DESCRIPTIONS</th>
                                <th>PRIX</th>
                                <th>IMAGES</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for produit in produits %}
                            <tr {% if produit.promotions %}class="promotion"{% endif %}>
                                <td class="category">{{ produit.categories }}</td>
                                <td class="product">{{ produit.produits }}</td>
                                <td class="description">{{ produit.descriptions }}</td>
                                <td class="price {% if produit.promotions %}promo-price{% endif %}">
                                    {% if produit.promotions %}
                                        <span class="promo-price">{{ produit.prix_affiche }} €</span>
                                        {% else %}
                                            {{ produit.prix_affiche }} €
                                    {% endif %}
                                </td>
                                <td class="image">
                                    <img class="border" src="{{ produit.images.url }}" alt="{{ produit.produits }}"
                                         width="120" height="150">
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        {% endblock %}
        </div>
    </div>
<script src="{% static 'script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=
" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="
sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</body>
</html>